<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{pokemon?.name|titlecase}}</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pokemon">
  <ion-card>
    <img [src]="pokemon.sprites.front_default" alt="">
    <ion-card-header>
      <ion-card-title>
       {{pokemon.name | titlecase}}

      </ion-card-title>
      <ion-card-subtitle>
        <ion-chip *ngFor="let type of pokemon.types" [color]="getTypeColor(type.type.name)">
          {{type.type.name|titlecase}}
        </ion-chip>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Weight:{{pokemon.weight / 10}} kg</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>